---
import BaseLayout from '../../layouts/BaseLayout.astro'
import Header from '../../components/layout/Header.astro'
import Footer from '../../components/layout/Footer.astro'
---

<BaseLayout
  title="Términos y condiciones"
  description="Términos y condiciones de uso del sitio web y aplicaciones de Tecpromed SAS."
  canonicalPath="/terminos-y-condiciones"
>
  <Header />
  <main class='px-4 sm:px-6 lg:px-8 py-10 md:py-14 max-w-4xl mx-auto'>
    <h1 class='text-3xl font-bold mb-6'>Términos y condiciones de uso de nuestras aplicaciones</h1>
    <p>
      Estos son los términos y condiciones del sitio web y aplicaciones de TECPROMED SAS (en adelante <span class='font-bold'
        >El Sitio</span
      >), somos una empresa que presta servicios en tecnologías web, servicios médicos y alquiler de equipos médicos.
    </p>
    <p>
      En <span class='font-bold'>El Sitio</span> se publica información que apunta a los servicios que presta nuestra empresa.
    </p>
    <h3 class='text-lg font-bold my-6'>1. Aceptación de Términos y Condiciones</h3>
    <p>
      Es responsabilidad de todo usuario leer los presentes términos y condiciones de uso, por lo que, al acceder a El Sitio, el
      usuario acepta de manera incondicional y plena los términos y condiciones establecidos en el presente documento. Por lo
      anterior, se recomienda la visita periódica a la sección de términos y condiciones.
    </p>
    <p>
      El usuario será responsable por cualquier uso indebido, anormal o ilícito que se haga de El Sitio y sus contenidos. En
      especial, el usuario se compromete a no:
    </p>
    <ul class='list-disc my-4 pl-10'>
      <li>
        No descargar las imágenes, textos y demás contenido publicado en la Página Web, a menos que expresamente se mencione lo
        contrario.
      </li>
      <li>No utilizar contenidos (imágenes, textos, vídeos) para publicidad sin previa autorización.</li>
      <li>
        No realizar actividades técnicas que impidan la libre administración, uso y publicación de los contenidos por parte de los
        administradores debidamente autorizados por TECPROMED SAS.
      </li>
      <li>
        No incurrir en conductas ilícitas como daños o ataques informáticos, interceptación de comunicaciones, infracciones al
        derecho de autor, uso no autorizado de terminales, usurpación de identidad, revelación de secretos o falsedad en los
        documentos.
      </li>
      <li>
        No publicar contenido pornográfico, injurioso, falso y en general cualquier contenido que atente contra la seguridad y la
        sana convivencia.
      </li>
      <li>
        No alterar el uso de las marcas, logos y demás signos distintivos, tanto de TECPROMED SAS como de terceros que aparezcan
        en El Sitio.
      </li>
    </ul>
    <p>
      En todo caso, el usuario entiende y acepta que TECPROMED SAS se reserva el derecho de tomar acciones de índole
      administrativo y legal contra cualquier usuario que a nuestro juicio, haga uso indebido de <span class='font-bold'
        >El Sitio</span
      >. Lo anterior implica que el usuario se hace responsable de indemnizar cualquier daño causado tanto a TECPROMED SAS como a
      terceros que vean vulnerados sus derechos con su actuación.
    </p>
    <h3 class='text-lg font-bold my-6'>2. Responsabilidad por la información contenida</h3>
    <p class='mb-2'>
      El Usuario entiende y acepta que TECPROMED SAS no se compromete o se hace responsable por los comentarios y las opiniones
      publicadas por los usuarios en los diferentes espacios abiertos para este fin en <span class='font-bold'>El Sitio</span>.
    </p>
    <p class='mb-2'>
      De igual forma, el usuario entiende que TECPROMED SAS realiza esfuerzos administrativos, técnicos y tecnológicos para
      mantener su sitio libre de virus y software malicioso, sin embargo, el usuario acepta que de ninguna forma la empresa
      garantiza la ausencia de elementos que puedan producir alteraciones o daños en su sistema informático, por lo que no se hace
      responsable por las referidas alteraciones.
    </p>
    <p class='mb-2'>
      Adicionalmente; el usuario, reconoce y acepta que el Software proporcionado por TECPROMED SAS es una herramienta diseñada
      para mejorar procesos médicos y no sustituye bajo ninguna circunstancia la opinión, juicio y experiencia de un profesional
      de la salud debidamente calificado y autorizado. TECPROMED SAS no se hace responsable de los resultados, informes,
      diagnósticos, cálculos, o cualquier otro servicio derivado del uso del Software.
    </p>
    <p class='mb-2'>
      El usuario entiende y acepta, que el uso del Software debe ser siempre responsabilidad del profesional de la salud, y que el
      mismo, no debe ser utilizado como sustituto de la evaluación clínica, el diagnóstico médico o el tratamiento. TECPROMED SAS
      no se hace responsable de las decisiones tomadas por el profesional de la salud basadas en el uso del Software.
    </p>
    <p class='mb-2'>
      El Software se proporciona "tal como está" y TECPROMED SAS no ofrece garantías de ningún tipo, ya sean expresas o
      implícitas, incluyendo, pero no limitado a, garantías de comerciabilidad, idoneidad para un propósito particular y no
      infracción. TECPROMED no garantiza que el Software sea libre de errores o que funcione de manera ininterrumpida.
    </p>
    <p class='mb-2'>
      TECPROMED no será responsable de ningún daño directo, indirecto, incidental, especial, consecuente o punitivo que surja del
      uso del Software o la imposibilidad de usarlo, incluso si TECPROMED ha sido advertido de la posibilidad de tales daños.
    </p>
    <p class='mb-2'>
      El usuario es responsable de cumplir con todas las leyes y regulaciones locales relacionadas con el uso del Software,
      incluyendo, pero no limitado a, las regulaciones de privacidad y seguridad de datos médicos.
    </p>
    <h3 class='text-lg font-bold my-6'>3. Información y sitios web de terceros</h3>
    <p class='mb-2'>
      Dentro en <span class='font-bold'>El Sitio</span> podría existir la posibilidad, de que el usuario puede encontrar
      hipervínculos que le permiten el acceso a otras páginas o sitios Web, pues dichos enlaces tendrían como propósito, informar
      sobre la existencia de otras fuentes susceptibles de ampliar los contenidos que se publican u ofrecen.
    </p>
    <p>
      Sin perjuicio de lo anterior, el usuario acepta que TECPROMED SAS, no se hace responsable por el contenido, el
      funcionamiento, la accesibilidad, el manejo de la información y/o de la privacidad que puedan realizar dichos sitios de
      terceros, por lo que usuario entiende que al dar click en los enlaces y salir de El Sitio, lo hace bajo su propio riesgo y
      responsabilidad.
    </p>
    <h3 class='text-lg font-bold my-6'>4. Propiedad Intelectual y Derechos Reservados sobre los contenidos publicados</h3>
    <p class='mb-2'>
      El Sitio Web de TECPROMED SAS, su diseño, los contenidos de todo tipo, bases de datos, repositorios, interfaces, Look and
      Feel, herramientas, apps, Software y demás materiales se encuentran protegidos por las normas internacionales y nacionales
      vigentes sobre Propiedad Intelectual, por lo tanto su utilización, reproducción, comunicación pública, puesta a disposición,
      transformación, distribución, alquiler, préstamo público e importación, total o parcial, en todo o en parte, en formato
      impreso, digital y en general por cualquier medio conocido o por conocer en el estado de la técnica, se encuentran
      prohibidos, y solo serán lícitos en la medida en que se cuente con la autorización previa y expresa por escrito de la
      empresa TECPROMED SAS. Las limitaciones y excepciones al Derecho de Autor solo serán aplicables en la medida en que se den
      dentro de los denominados Usos Honrados (Fair Use); es decir, siempre y cuando estén previa y expresamente establecidas en
      disposición legal; no causen un grave e injustificado perjuicio a los intereses legítimos del autor o titular; y no atenten
      contra la normal explotación de la obra. En todo caso, cualquier uso, remisión o utilización mediante vínculos o links a los
      contenidos de página Web de TECPROMED SAS, deberán darse los créditos respectivos institucionales, y respetarse la normativa
      vigente y aplicable sobre Derechos Morales.
    </p>
    <p>
      Las marcas, logos, nombre, enseñas, lemas y demás signos distintivos relacionados con TECPROMED SAS, son de titularidad de
      la empresa, en consecuencia, está prohibida su reproducción total o parcial, con independencia de que se trate de usos
      comerciales o no. Si desea hacer uso de cualquiera de estos signos distintivos o de los contenidos de El Sitio, debe
      solicitar autorización previa y expresa a TECPROMED SAS.
    </p>
    <h3 class='text-lg font-bold my-6'>5. Ley aplicable y resolución de controversias</h3>
    <p>
      Cualquier conflicto generado por la interpretación de los presentes términos y condiciones será resuelto bajo lo establecido
      en las leyes de la República de Colombia. Cualquier conflicto o controversia generado por el incumplimiento de estos
      términos y condiciones se resolverá en primer lugar mediante arreglo directo entre las partes, transacción directa o
      conciliación y según con los procedimientos legales establecidos en las leyes de la República de Colombia.
    </p>
    <h3 class='text-lg font-bold my-6'>6. Derecho a actualizar y modificar los Términos y Condiciones</h3>
    <p class='mb-2'>
      Los presentes términos y condiciones de uso rigen para todos los servicios y comunicaciones, actuales o futuros, y abarcan a
      todos aquellos usuarios o terceros que accedan, permanezcan o hagan uso de El Sitio.
    </p>
    <p>
      En todo caso, TECPROMED SAS se reserva el derecho a modificar y actualizar en cualquier momento y sin necesidad de previo
      aviso los presentes términos y condiciones, los cuales entrarán en vigor a partir de su publicación en el Sitio.
    </p>
    <h3 class='text-lg font-bold my-6'>7. Derecho de suspender o cancelar cuentas de usuarios</h3>
    <p>
      TECPROMED SAS podrá terminar o suspender de manera permanente o temporal el acceso al servicio sin previo aviso y
      responsabilidad por cualquier razón, incluso si a nuestra sola determinación se violas alguna disposición de estos Términos
      o cualquier ley o regulación aplicable. Puede descontinuar el uso y solicitar cancelar la cuenta y / o cualquier servicio en
      cualquier momento. Sin perjuicio de lo contrario en lo que antecede, con respecto a las suscripciones renovadas
      automáticamente a los servicios pagados, dichas suscripciones se suspenderán solo al vencimiento del período correspondiente
      por el que ya has realizado el pago.
    </p>
  </main>
  <Footer />
</BaseLayout>
