<div class='hidden lg:block absolute w-1/4 h-screen bg-primary top-0 right-0 -z-10 rounded-tl-[50px] rounded-bl-[50px]'>
  <svg
    xmlns='http://www.w3.org/2000/svg'
    class='icon icon-tabler icon-tabler-plus text-[#5818DC] absolute top-[500px] left-24'
    width='150'
    height='150'
    viewBox='0 0 24 24'
    stroke-width='5'
    stroke='currentColor'
    fill='none'
    stroke-linecap='round'
    stroke-linejoin='round'
  >
    <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
    <path d='M12 5l0 14'></path>
    <path d='M5 12l14 0'></path>
  </svg>
</div>
